/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    overflow: hidden;
}

canvas { 
    width: 100vw; 
    height: 100vh;
}

#selectables {
    
    color: #FFFB5E;
    font-size: 30px;
    text-decoration:none;
	z-index: 100;

    padding-left: 15px;
}

#selectables:hover {
    
    text-decoration: underline;

}

p {
    color: white;
    margin: 0;
    font-size: 100;
    z-index: 100;
}

#image {
    width: 100%;

}

#title {

    text-align: center;

    width: 100%;
    height: auto;
    max-width: 1000px;
	z-index: 100;

    position: absolute;
    top: 50%;
    left: 50%;
    display:block;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

}

#subtitle {

    text-align: center;

    width: 100%;
    height: auto;
    max-width: 1000px;
	z-index: 100;

    position: absolute;
    top: 60%;
    left: 50%;
    display:block;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

}